use Mix.Config

config :flatfoot, :twitter, api_key: "YOUR_KEY_HERE"
config :flatfoot, :twitter, secret_key: "YOUR_KEY_HERE"
config :flatfoot, :twitter, base_64: "YOUR_KEY_HERE"
config :flatfoot, :twitter, token: "YOUR_KEY_HERE"
